<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vanilla*</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="text-light m-0">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-grass fixed-top text-white m-0 p-0 w-100 border-bottom border-black">
            <div class="container-fluid m-0 px-5 bg-black bg-gradient bg-opacity-50">
                <a class="navbar-brand mc-font logo-text text-white" asp-area="" asp-page="/Index">Vanilla*</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-light mc-font">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item h5 p-2 mx-2 border-end">
                            <a class="nav-link d-flex flex-column align-items-center" href="http://mcmap.arostek.dev/"><i class="bi bi-map"></i><span>Mapa</span></a>
                        </li>
                        <li class="nav-item h5 p-2 mx-2 border-end">
                            <a class="nav-link d-flex flex-column align-items-center" asp-area="" asp-page="/Achievement"><i class="bi bi-card-checklist"></i><span>Achievementy</span></a>
                        </li>
                        <li class="nav-item h5 p-2 mx-2 border-end">
                            <a class="nav-link  d-flex flex-column align-items-center" asp-area="" asp-page="/Stats"><i class="bi bi-graph-up"></i><span>Statystyki</span></a>
                        </li>
                        <li class="nav-item h5 p-2 mx-2">
                            <a class="nav-link  d-flex flex-column align-items-center" asp-area="" asp-page="/Wiki"><i class="bi bi-file-text"></i><span>Zmiany</span></a>
                        </li>
                        <li class="nav-item h5 p-2 ms-auto">
                                <div>mc.arostek.dev</div>
                                <div id="server-status">
                                    <i class="bi bi-reception-4 text-muted"></i>
                                    <div class="spinner-border spinner-border-sm" role="status">
                                    </div>
                                </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="text-left px-5 pt-5 pb-3 mb-3 rounded-4 mt-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer p-3 text-center">
        <div class="container">
            &copy; 2025 arostek.dev <a class="no-decoration" href="https://github.com/xAdiro/vanilla-star-server"><i class="bi bi-link-45deg"></i>github.com/xAdiro/vanilla-star-server</a>
        </div>
    </footer>


    <script>
        window.addEventListener("DOMContentLoaded", async () => {
            try {
                const response = await fetch("/Shared/_McServerStatus");
                const html = await response.text();
                document.getElementById("server-status").innerHTML = html;
            } catch (err) {
                console.error(err);
            }
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

