@font-face {
    font-family: "Minecraft Ten";
    src: url("/font/1_MinecraftRegular1.otf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-top: 125px;
  background-color: #1C1C1D;
}

main {
  background-color: #252627;
}

footer {
  background-color: #313131;
}

p {
    text-align: left;
}

a {
    color:seagreen;
    text-decoration: none;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.no-decoration {
    text-decoration: none;
}

.mc-font {
    font-family: "Minecraft Ten";
}

.logo-text {
    font-size: 75px;
}

.bg-grass {
    background-image: url("/img/grass_block_side.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: top left;
    image-rendering: pixelated;
}

.navbar-dark .navbar-nav .nav-link {
  color: #EEEEEE;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  text-shadow: 0 0 6px rgba(63, 163, 77, 0.8),
             0 0 12px rgba(63, 163, 77, 0.6);
}

.navbar{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
