@page
@model StatsModel
@{
    ViewData["Title"] = "Statystyki";
}
<h2>Statystyki</h2>

Brak danych
<br>

<label for="abc" class="form-label">Filtry</label>
<select class="form-select bg-dark text-white" id="abc" name="abc">
    @foreach(var board in @Model.Categories){
        <option value="@board.Value">@board.FriendlyName</option>
    }
</select>

